.container {
  overflow-x: auto;
  background-color: #f9f9f9;
}

.advertisement_container {
  margin-bottom: 32px;
  padding: 32px 24px;
  background-color: #fff;

  .advertisement_container_inner {
    position: relative;
    width: 100%;
    // width: 214px;
    max-width: 1284px;
    height: 260px - (32px * 2);
    margin: 0 auto;
  }

  .blind {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .advertisement_container_image {
    width: 320px;
    height: 24px;
  }

  .advertisement_container_title {
    display: block;
    margin-top: 8px;
    font-size: 26px;
    line-height: 30px;
    color: #131313;
    font-weight: 400;
  }
}

.content_container {
  overflow-x: auto;
  background-color: #f9f9f9;

  .content_container_flow {
    max-width: 320px + 16px;
    margin: 0 auto;

    @media screen and (min-width: 721px) {
      max-width: (2 * 320px) + 16px;
    }
    @media screen and (min-width: 889px) {
      max-width: (3 * 320px) + 16px;
    }
    @media screen and (min-width: 1145px) {
      max-width: (4 * 320px) + 16px;
    }
  }
}

.content_container_flow_list {
  margin: 0 -8px;
  text-align: center;

  @media screen and (min-width: 801px) {
    text-align: left;
  }
}
